<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <title>3D Güvenlik Yönlendirme</title>
</head>
<body>
    <p>3D Secure sayfasına yönlendiriliyorsunuz...</p>

    <form id="threeDSecureForm" action="http://testpos.param.com.tr/Tahsilat/3D_Secure/AkilliKart_3DPay_EST_Doviz.aspx" method="post">
        <input type="hidden" name="rURL" value="TURKPOS_3D_TRAN">
        <input type="hidden" name="SID" value="5f76aae9-2068-46b8-9900-1ff700f2a2ef">
        <input type="hidden" name="g" value="5c1b8a0c-9688-4042-8a1d-e2ed3d881a65">
        <input type="hidden" name="d" value="">
        <!-- Gerekli diğer parametreler varsa onları da buraya ekleyin -->
    </form>


</body>
</html>
